ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: 0;
    outline-offset: 0;
}

body {

    text-transform: capitalize;
}