$minSTablet:'(min-width:620px)';
$minLTabletLaptop:('min-width:960px');
$minDesktop:('min-width:1200px');


$mainBgColor: #2d3436;
$listBgColor:#000000;
$titleFColor:#fdcb6e;
$fontColor:#ffffff;

$htmlFSize:16px;
$bodyFSize:1rem;
$h1FSize:2em;
$h2FSize:1.5em;
$h3FSize:1.17em;
$h4FSize:1em;
$h5FSize:.83em;
$h6FSize:.67em;